{% extends "layout.html" %}
{% block content %}
{% include 'modal.html' %}

<article id="hello">
    <h3>Hello {{ session.username }},</h3>
    <p class="tight">Here you can find your feeds.<br/>
     Just create a feed and copy/paste the link to your iTunes!</p>
</article>

{% for feed in feeds %}
<article id="feed">
    <h2>{{ feed['name'] }}</h2>
    <div class="line"></div>
    <input type="text" size="50" onfocus="this.select()" readonly="readonly" value="{{ feed['url'] }}" />
    <input type="hidden" name="audio" value="{{ feed['audio'] }}" />
    <input type="hidden" name="video" value="{{ feed['video'] }}" />
    <input type="hidden" name="items" value="{{ feed['items'] }}" />
    <div class="articleBody clear">
</article>
{% endfor %}

<div class="line"></div>
<script>
    var CreateFeed = new ModalBox('#modal',{
        feed_name: 'My Feed',
        audio: false,
        video: false,
        items: [],
        action: '/feed/create'
    });
</script>
<article id="feed-create">
    <h2><a href="javascript:;" onclick="CreateFeed.show();">Create New Feed</a></h2>
    <div class="articleBody clear">
</article>

{% endblock %}