{% extends "layout.html" %}
{% block content %}
{% for feed in feeds %}
<article id="feed-1">
    <h2>{{ feed['name'] }}</h2>
    <div class="line"></div>
    <input type="text" size="50" onfocus="this.select()" readonly="readonly" value="{{ feed['url'] }}">
    <input type="hidden" name="items" value="{{ feed['items'] }}">
    <input type="hidden" name="audio" value="{{ feed['audio'] }}">
    <input type="hidden" name="video" value="{{ feed['video'] }}">
    <div class="articleBody clear">
</article>
{% endfor %}

<div class="line"></div>
<article id="create">
    <h2>Create New Feed</h2>
    <div class="articleBody clear">
</article>
{% endblock %}