{% extends "layout.html" %}
{% block content %}
    <article id="about">
        <h2>About PutCast</h2>
        <div class="line"></div>
        <div class="articleBody clear">
            <div class="left-col">
                <p>PutCast lets you generate RSS feeds from your Put.io account. By using iTunes or an RSS downloader, you can download your files automatically to your computer, iPad or other device. All you have to do is:</p>
                <ul>
                    <li>Click <b>Log in</b> below to let Putcast reach your files on Put.io</li>
                    <li>Create a new feed and choose the folders you want to include</li>
                    <li>Copy &amp; paste the link you get to your iTunes<br/>(Advanced > Subscribe to podcast)</li>
                </ul>
                <p style="padding-bottom:0px;">That's all! iTunes will automatically sync with your feed every day.</p>
                <div class="button-container">
                    <div>
                        <a class="button" href="/auth">Log in with Put.io</a>
                    </div>
                </div>
            </div>
            <div class="right-col">
                <figure>
                    <img src="/static/images/putcast.png" />
                </figure>
            </div>
        </div>
    </article>
{% endblock %}
