<!DOCTYPE html> <!-- The new doctype -->
<html>
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>PutCast | generate RSS feeds from Put.io</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='colorbox/example1/colorbox.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
        <script src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jstree/jquery.jstree.js') }}"></script>
        <script src="{{ url_for('static', filename='colorbox/colorbox/jquery.colorbox-min.js') }}"></script>
        <!-- Internet Explorer HTML5 enabling code: -->
        
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        
        <style type="text/css">
        .clear {
          zoom: 1;
          display: block;
        }
        </style>

        
        <![endif]-->
        {% endblock %}
    </head>
    <body>
        <section id="page">
        <header>
            <hgroup>
                <h1><img src="/static/images/putcast_logo.png" /></h1>
                <h3 class="orange">generate RSS feeds from Put.io</h3>
            </hgroup>
            <nav class="clear">
                <ul>
                    <li><a href="http://put.io">Go to Put.io</a></li>
                    <li><a href="/about">About</a></li>
                    {% if session.oauth_token %}
                        <li><a href="/feeds">Feeds</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    {% else %}
                        <li><a href="/auth">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
            
        <section id="articles">
            <div class="line"></div>
            {% block content %}
            {% endblock %}
        </section>

        <footer>
           <div class="line"></div>
           <a class="self" href="http://github.com/FooVio">FooVio @ GitHub</a>
           <a class="self" href="http://tr.linkedin.com/in/foovio">FooVio @ LinkedIn</a>
           <a class="self" href="http://twitter.com/FooVio">FooVio @ Twitter</a>
           <a href="http://www.html5xcss3.com/" class="by" target="_blank">Free Html5 Templates</a> <a href="http://tutorialzine.com" target="_blank" class="by"> by Tutorialzine</a>
        </footer>
        </section>
    </body>
</html>
    
    