<script>
var ModalBox = function(box, o){
    this.box = null;
    this.feed_name = null;
    this.audio = false;
    this.video = false;
    this.items = new Array();
    this.action = null;

    this.initialize = function(box, o){
        this.box = box;
        this.feed_name = o.feed_name;
        this.audio = o.audio;
        this.video = o.video;
        this.items = o.items;
        this.action = o.action;

        $(this.box + ' form').attr("action", this.action);
        $(this.box + ' form input[name=feed_name]').val(this.feed_name);
        $(this.box + ' form input[name=audio]').val(this.audio);
        $(this.box + ' form input[name=video]').val(this.video);
    }

    this.confirm = function(){
        $(this.box + ' form').submit();
        $.colorbox.close();
    }

    this.show = function(){
        var self = this;
        $("#modal-title").html("Feed Options:");

        $("#dir-tree").jstree({
            "themes": {
                "theme": "classic",
                "dots": false
            },
            "json_data" : {
                "ajax" : {
                    "url" : function(node) {
                        if(node != -1){
                            return "/proxy/files/" + node.attr("id")
                        } else {
                            return "/proxy/files/0"
                        }
                    },
                    "success": function(data) {
                        var response = new Array();
                        var root = false;
                        var item;
                        for(i in data.files){
                            if(data.files[i].content_type == 'application/x-directory' &&
                                 data.files[i].is_shared == false) {
                                item = {
                                    "state": "closed",
                                    "data": data.files[i].name,
                                    "attr": {
                                      "id": data.files[i].id,
                                      "name": data.files[i].name
                                    }
                                };
                                response.push(item);

                                if(data.files[i].parent_id == false){
                                    root = true;
                                }
                            }
                        }
                        if(root){
                            response = {
                                "attr": {"id": 0, "name": "Your Files"},
                                "data": "Your Files",
                                "state": "open",
                                "children": response
                            }
                        }
                        return response;
                    }
                }
            },
            "plugins" : ["themes", "json_data", "ui"]
        }).bind("select_node.jstree", function (e, data){
            var items  = [];
            $.each($('#dir-tree').jstree("get_selected"), function(index, item){
                items.push(item.id);
            });
            console.log(items);
            $(self.box + ' form input[name=items]').val(items.join());
        });
        $.colorbox({
            inline:true,
            href:"#modal",
            scrolling: false,
            width: "30%",
            top: "15%",
            onComplete: function() {
                var w = $('#cboxLoadedContent').width();
                $('#cboxLoadedContent').width(w);
                var h = $('#cboxLoadedContent').height();
                $('#cboxLoadedContent').height(h);
                $('#cboxOverlay').css({'opacity': 0.3});
            }
        });
    }
    this.initialize(box, o);
}
</script>
<div style="display:none;">
<div id="modal" style="height:335px;">
    <div id="modal-frame" style="">
        <div id="modal-title" style="margin:10px 20px;font-size:20px;font-weight:bold">
        </div>
        <div id="modal-inner" style="margin:10px 20px 10px 20px;padding:10px;border: 1px solid #DDD">
            <form method="post" action="test">
                <span style="margin-left: 10px;">
                    Name: <input type="text" size="15" name="feed_name" value="" />
                </span>
                <div id="dir-tree">
                </div>
                <table style="margin-left:8px;">
                    <tr>
                        <td><input style="margin-top:3px;" type="checkbox" name="types" value="audio" /></td>
                        <td> Audio </td>
                        <td>&nbsp;</td>
                        <td><input style="margin-top:3px;" type="checkbox" name="types" value="video" /></td>
                        <td> Video </td>
                    </tr>
                </table>
                <input type="hidden" name="items" value="" />
            </form>
        </div>
        <div style="float:right; margin:10px 20px;">
            <a class="start-button" style="padding:5px 10px;margin-top:5px;font-size:16px;" href="javascript:;" onclick="CreateFeed.confirm()">Save</a>
        </div>
    </div>
</div>
</div>
