<?xml version="1.0" encoding="utf-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
>
<channel> 
    <title>{{ rss['title'] }}</title>
    	<atom:link href="{{ rss['link'] }}" rel="self" type="application/rss+xml" />
    	<link>http://putcast.foov.io</link>
    	<description>PutCast | Generate podcast from Put.io</description>
    	<language>en</language>
    	<sy:updatePeriod>hourly</sy:updatePeriod>
    	<sy:updateFrequency>1</sy:updateFrequency>
    	<generator>PutCast RSS Generator</generator>
    <!-- podcast_generator="Blubrry PowerPress/1.0.11" mode="advanced" entry="advanced" -->
    	<itunes:summary>PutCast | Generate podcast from Put.io</itunes:summary>
    	<itunes:author>PutCast</itunes:author>
    	<itunes:image href="http://put.io/images/apple-touch-icon.png" />
        <itunes:explicit>no</itunes:explicit>
    	<itunes:owner>
    		<itunes:name>PutCast | {{ rss['title'] }}</itunes:name>
                    <itunes:email>putcast@foov.io</itunes:email>
    	</itunes:owner>
    	<managingEditor>putcast@foov.io</managingEditor>
    	<copyright>foov.io</copyright>
    	<itunes:subtitle>PutCast | Generate podcast from Put.io</itunes:subtitle>
    	<itunes:keywords>put.io, putcast</itunes:keywords>
    	<image>
    		<title>{{ rss['title'] }}</title>
    		<url>http://put.io/images/apple-touch-icon.png</url>
    		<link>{{ rss['link'] }}</link>
    	</image>
    	<itunes:category text="Technology">
    		<itunes:category text="Gadgets" />
    	</itunes:category>
            {% for item in rss['items'] %}
            <item>
                <title>{{ item['title'] }}</title>
                <link>{{ item['link'] }}</link>
                <guid>{{ item['link'] }}</guid>
                <enclosure url="{{ item['link'] }}" length="{{ item['size'] }}" type="{{ item['content_type'] }}" />
                <itunes:explicit>no</itunes:explicit>
                <pubDate>{{ item['pubDate'] }}</pubDate>
            </item>
            {% endfor %}
</channel>
</rss>
